* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0.1);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.grafico-aerolineas {
    display: flex;
    flex-wrap: wrap;
}

.grafico-aerolineas div {
    padding: 1em;
    background-color: steelblue;
    margin: 2px;
    cursor: pointer;
}

.not-selected {
    opacity: 0.5;
}

.grafico-aerolineas div:hover {
    background-color: blue;
}

.card {
    margin: 10px auto;
    background-color: #EFECEA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.reset-btn {
    cursor: pointer;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    text-align: center;
    background-color: #616161;
    border-radius: 5px 5px 0 0; /* 5px rounded corners */
  }

.tablavuelos table {
    margin: 0 auto;
    min-width: 80%;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
}
.tablavuelos td {
    text-align: center;
    width: 100px;
}

.tablavuelos tr:nth-child(even) {
    background-color: grey;
}

.tablavuelos thead {
    background-color: black;
    color: white;

}


.tick text {
    font-size: 1.1rem;
}

header {
    background-color: grey;
}

.fas.fa-plane-departure {
    font-size: 1.5em;
    color: yellow;
}

.fas.fa-plane-arrival {
    font-size: 1.5em;
    color: blue;
}


#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  .fas.fa-search {
      position: relative;
      left: 40px;
  }