body {
    background-color: rgb(50, 54, 57);
    margin: 0;
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                        "histograma"
                        "delays"
                        "sidebar"
                        "tabla";
    gap: 1vw;
    padding: 1vw 1vw;
    align-content: start;
}

@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 3fr 2fr 1.7fr;
        grid-template-areas: "histograma delays header"
                            "histograma delays sidebar"
                            "tabla tabla sidebar";
    }
}

@media only screen and (max-width: 1023px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
      td {
        border: none;
        position: relative;
        padding-left: 200px;
        margin-left:  50px;
      }
      td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -50px;
      }
      td:nth-of-type(1):before { content: "Tipo"; }
      td:nth-of-type(2):before { content: "Aero"; }
      td:nth-of-type(3):before { content: "Vuelo"; }
      td:nth-of-type(4):before { content: "Ruta";}
}

header {
    grid-area: header;
}

.histograma {
    grid-area: histograma;
}

.delays {
    grid-area: delays;
    align-self: end;
}

.tablavuelos {
    grid-area: tabla;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 1vw;
    align-content: start;
}

.not-selected {
    opacity: 0.3;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: solid black 1px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: solid white 1px;
}


.tablavuelos thead {
    background-color: black;
}

.tablavuelos tr {
    border-bottom: solid black 1px;
}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }


/* Style Tabla vuelos */
.tablavuelos table {
    border-collapse: collapse;
    text-align: center;
}

.arribo {
    fill: #770076;
    color: #770076;
}

.partida {
    fill: yellow;
    color: yellow;
}

.posiciones path:hover {
    fill-opacity: 1;
    fill: blue;
    stroke: blue;
}

.ruta circle:hover, .aerolinea rect:hover, .terminal circle:hover {
    fill:blue;
}

.ruta circle, .aerolinea rect, .terminal circle {
    cursor: pointer;
}

.ruta text {
    pointer-events: none;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: none;
    padding: 0.5em;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    z-index: 2;
}

.zoom {
    transform: scale(2);
    z-index: 1;
    transform-origin: top right;
}

header img {
    height: 3em;
}

table {
    width: 100%;
}