* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 3fr 1.7fr;
    grid-template-areas: "histograma delays sidebar"
                        "tabla tabla sidebar";
    gap: 1vw;
    padding: 1vw 1vw;
}

.histograma {
    grid-area: histograma;
}

.delays {
    grid-area: delays;
}

.tablavuelos {
    grid-area: tabla;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 1vw;
    align-content: start;
}

.not-selected {
    opacity: 0.3;
}

.card {
    background-color: rgba(235, 227, 227, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: solid white 1px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: solid white 1px;
  }

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    text-align: center;
    background-color: #616161;
    border-radius: 5px 5px 0 0; /* 5px rounded corners */
}



.tablavuelos tr:nth-child(even) {
    background-color: grey;
}

.tablavuelos thead {
    background-color: black;
    color: white;

}


.tick text {
    font-size: 1.1rem;
}

header nav{
    background-color: grey;
    align-content: center;
    justify-content: center;
    height: 3em;
}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }


/* Style Tabla vuelos */
.tablavuelos table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.arribo {
    fill: #770076;
    color: #770076;
}

.partida {
    fill: yellow;
    color: yellow;
}

.card {
    text-align: center;
}

.posiciones path:hover {
    fill-opacity: 1;
    fill: blue;
    stroke: blue;
}

.ruta circle:hover, .aerolinea rect:hover, .terminal circle:hover {
    fill:blue;
}

.ruta circle, .aerolinea rect, .terminal circle {
    cursor: pointer;
}

header img {
    height: 90%
}

.ruta text {
    pointer-events: none;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0,0,0,0.9);
    color: white;
    display: none;
    padding: 0.5em;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    z-index: 2;
}

nav span {
    vertical-align: middle;
    margin-left: 10px;
}

.zoom {
    transform: scale(2);
    z-index: 1;
    transform-origin: top right;
    background-color: rgb(255,255,255);
}